//$color-primary: #032326;
//$color-secondary: #18D9B5;
$color-primary: #272727;
$color-secondary: #1fd5b4;
$color-card: #3d3c3c;



$color-fontPrimary: #ffffff;
$color-fontSecondary: #1fd5b4;
$color-fontTertiary: #272727;

$color-tertiary: #0E1C02;
$color-base:#6ABFCC;

//$color-backgroundVideo: #1e2326;
//$color-fonts: #1cb698;

// ------ UTILIZADOS EN UN PPIO -------
//$color-primary: #0E1C02;
//$color-secondary: #6ABFCC;
//$color-fontSecondary: #6ABFCC;

// ----------------------------------------

// $color-primary: #002f20c9;
// $color-secondary: rgb(255, 238, 222);
// $color-tertiary: rgb(255, 220, 207);
// $color-base: coral;