@import '../../styles/_colors.scss';
@import '../../styles/_fonts.scss';
*{
    font-family: $font-primary;
  }

.home {
   background-image: linear-gradient(to top, rgba(30, 38, 36, 0.9), rgba(30,38,36,2)), url(../../images/background.jpg);
   background-size: cover;
   height: 100vh;
   display: flex;
   color: $color-fontPrimary;
   align-items: center;
   &__card {
    padding: 20px;
    background: $color-primary;
    height: 55vh;
    border-radius: 32px;
    text-align: center;
    max-width: 350px;
    margin: auto;
    box-shadow: 10px;
    &_name {
        font-size: 35px;
        font-family: $font-secondary;
        margin-top: 30px;
    }
    &_perfil {
        font-size: 22px;
        font-weight: 10px;
        font-family: $font-secondary;
    }
   }

   .myPortrait {
        background: $color-secondary;
        border-radius: 100%;
        width: 80%;
   }

    .gitHub {
        margin: 10px;
        font-size: 45px;
        color: white;
    }
    .gitHub:hover {
      color: $color-secondary;
      cursor: pointer;
    }
    .linkedin {
       margin: 10px;
       font-size: 45px;
       color: white;
    }
    .linkedin:hover {
      color: $color-secondary;
      cursor: pointer;
    }

  }

  .icons {
    display: inline-block;
    font-size: 24px;
    height: 32px;
    margin: 20px;
    transition: .3s;
  }